{% extends 'base.html' %}

{% block content %}

  <h1>Sports List</h1>

  {% for sport in sports %}

<!-- <a href="/sports/{{ sport.id }}"></a> -->
    <a href="{% url 'detail' sport.id %}">

      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ sport.name }}</span>
          <p>Description: {{ sport.description }}</p>
          <p>Location: {{ sport.location }}</p>
          <p>Gear Needed: {{ sport.gear_needed }}</p>
    
        </div>
      </div>
    </a>
  {% endfor %}

{% endblock %}