{% extends 'base.html' %}

{% block content %}

  <h1>Sport Detail</h1>

  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ sport.name }}</span>
      <p>Description: {{ sport.description }}</p>
      <p>Location: {{ sport.location }}</p>
      <p>Gear Needed: {{ sport.gear_needed }}</p>
    </div>

    <div class="card-action">
      <a href="{% url 'delete_sport' sport.id %}">Delete Sport</a>
      <a href="{% url 'update_sport' sport.id %}">Update Sport</a>
    </div>

    <hr />

    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Channel</th></tr>
      </thead>
      <tbody>
        {% for channel in sport.channel_set.all %}
          <tr>
            <td>{{channel.date}}</td>
            <td>{{channel.get_channel_display }}</td>
            <td><a class="btn red" href="{% url 'delete_channel' cat.id channel.id %}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


    <form action="{% url 'add_athlete' sport.id %}" method="post">
      {% csrf_token %}
      {{ AthleteForm.as_p }}
      <input type="submit" class="btn" value="Add Athlete">
    </form>

    <table class="striped">
      <tbody>
        {% for athlete in sport.athlete_set.all %}
          <tr>
            <td>{{athlete.name}}</td>
            <td>{{athlete.age }}</td>
            <td>{{ athlete.hometown }}</td>
            <td><a href="{% url 'athlete_detail' athlete.id %}">Athlete Details</a></td>
            <td><a href="{% url 'delete_athlete' sport.id athlete.id%}">Delete Athlete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  <hr />


  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const channels = document.querySelectorAll('select');
      const dates = document.querySelectorAll('#id_date');

      const options = {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true,
      }

      const channelInstances = M.FormSelect.init(channels);
      const dateInstances = M.Datepicker.init(dates, options);
    });
  </script>
  
{% endblock %}

  
  