{% extends 'base.html' %}

{% block content %}

  <h1>Sport Detail</h1>

  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ sport.name }}</span>
      <p>Description: {{ sport.description }}</p>
      <p>Location: {{ sport.location }}</p>
      <p>Is It Fun: {{ sport.is_fun }}</p>
    </div>

    <hr />

    <form action="{% url 'add_athlete' sport.id %}" method="post">
      {% csrf_token %}
      {{ AthleteForm.as_p }}
      <input type="submit" class="btn" value="Add Athlete">
    </form>

    <table class="striped">
      <tbody>
        {% for athlete in sport.athlete_set.all %}
          <tr>
            <td>{{athlete.name}}</td>
            <td>{{athlete.age }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  

    <!-- <div class="card">
      <div class ="card-content">
        <span class="card-title"></span>
        <p>Athlete: {{ athlete.name }}</p>
      </div>
    </div> -->

    <div class="card-action">
      <a href="{% url 'delete_sport' sport.id %}">Delete Sport</a>
      <a href="{% url 'update_sport' sport.id %}">Update Sport</a>
      <a href="{% url 'delete_athlete' athlete.id %}">Delete Athlete</a>
    </div>

  
  {% endblock %}